<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index.css">
        
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
              <h1 class="navheading">AGE CHECKER</h1>
               </div>
          </nav>
       
          <h1 class="age">What is your age?</h1> 
        
    <div class="innerdiv">
        <form action="/submit" method="POST">
        <label for="birthYear">BirthYear :</label><br>
        <input type="number" id="birthYear" name="birthYear" value="birthYear"><br>
        <label for="presentYear">PresentYear:</label><br>
        <input type="number" id="presentYear" name="presentYear" value="presentYear"><br><br>
        <input type="submit" value="Check">
      </form> 
    </div>
        
        <script src="../index.js" ></script>
    </body>
</html>