*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(11, 6, 15);
}
.age{
    color: rgb(166, 125, 205);
    padding-left: 450px;
    padding-top: 50px;
}
.navbar{
    font-style: italic;
    background-color: rgb(180, 146, 212);
    height: 70px;
}
.navheading{

    font-family: Snell Roundhand, cursive;
    font-size:40px ;
    padding-left: 450px;
}
 .innerdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: relative ;
    left: 480px;
    top: 100px;
} 